<p id="notice"><%= notice %></p>

<h3>Adicionar Pagamento Recebido</h3>

Paciente: <b><%= @office_visit.patient.name %></b>

<section class="row text-center">
  <section class="col-md-4">
    <%= render 'form', parcel: @parcel %>
  </section>

  <section class="col-md-8 mt-3">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Valor Recebido</th>
          <th>Data</th>
          <th>Observação</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @parcels.each do |parcel| %>
          <% content_tag :div do %>
            <%= @count += 1 %>
          <% end %>

          <tr>
            <td><%= @count %></td>
            <td><%= parcel.value %></td>
            <td><%= parcel.created_at %></td>
            <td><%= parcel.observation %></td>
            <td><%= link_to 'Edit', edit_parcel_path(parcel), class: 'btn btn-info' %></td>
            <td><%= link_to 'Destroy', parcel, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>
</section> 
