<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @parcel.value %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @parcel.observation %>
</p>

<%= link_to 'Edit', edit_parcel_path(@parcel) %> |
<%= link_to 'Back', parcels_path %>
