<%= form_for(office_visit) do |f| %>
  <% if office_visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office_visit.errors.count, "error") %> prohibited this office_visit from being saved:</h2>

      <ul>
      <% office_visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :hour %>
    <%= f.text_field :hour %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :payment_method %>
    <%= f.number_field :payment_method %>
  </div>

  <div class="field">
    <%= f.label :treatment %>
    <%= f.text_field :treatment %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :upload %>
    <%= f.text_field :upload %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
