<section class="col-md-4 offset-md-4">
  <h1>Cadastrar novo Atendimento</h1>

  <%= form_for(@office_visit) do |f| %>
    <!-- If click from welcome path -->
    <%= hidden_field_tag :welcome, params[:welcome] %>

    <%= hidden_field_tag :patient, params[:patient] %>
    
    <% if @office_visit.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@office_visit.errors.count, "error") %> prohibited this office_visit from being saved:</h2>

        <ul>
        <% @office_visit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      Pagamento:<br/>
      <%= f.select(:payment_method, OfficeVisit.payment_methods.keys.map{|p| p}, {}, {class: 'form-control'}) %>
    </div>
    <div class="field form-group">
      Tratamento realizado:<br/>
      <%= f.text_area :treatment, class: 'form-control', required: true %>
    </div>

    <div class="field form-group">
      Valor Cobrado (R$):<br/>
      <%= f.number_field :value, min: 0, step: :any, placeholder: '200,00', class: 'form-control', required: true %>
    </div>

    <div class="field form-group">
      <%= f.label :Anexos %> <br />
      <%= f.file_field :documents, multiple: true %>
    </div>

    <div class="actions">
      <%= f.submit 'Salvar', class: 'btn btn-primary' %>
    </div>

    <br />

    <%= link_to 'Voltar', (params[:welcome].present?) ? root_path : :back, class: 'btn btn-warning' %>
  <% end %>
</section>