<p id="notice"><%= notice %></p>

<h1>Office Visits</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Hour</th>
      <th>Status</th>
      <th>Payment method</th>
      <th>Treatment</th>
      <th>Value</th>
      <th>Upload</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @office_visits.each do |office_visit| %>
      <tr>
        <td><%= office_visit.date %></td>
        <td><%= office_visit.hour %></td>
        <td><%= office_visit.status %></td>
        <td><%= office_visit.payment_method %></td>
        <td><%= office_visit.treatment %></td>
        <td><%= office_visit.value %></td>
        <td><%= office_visit.upload %></td>
        <td><%= link_to 'Show', office_visit %></td>
        <td><%= link_to 'Edit', edit_office_visit_path(office_visit) %></td>
        <td><%= link_to 'Destroy', office_visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office Visit', new_office_visit_path %>
