<h3>Exibir Paciente</h3>
<section class="show mb-4 text-center">
  <p>
    <strong>Paciente:</strong>
    <%= @office_visit.patient.name %>
  </p>

  <p>
    <strong>Tratamento:</strong>
    <%= @office_visit.treatment %>
  </p>

  <p>
    <strong>Método de pagamento:</strong>
    <%= @office_visit.payment_method %>
  </p>

  <p>
    <strong>Valor cobrado:</strong>
    <%= @office_visit.value %>
  </p>

  <p>
    <strong>Data do Atendimento:</strong>
    <%= @office_visit.created_at.strftime("%d/%m/%Y") %> 
  </p>

  <p>
    <strong>Consulta marcada para:</strong>
    <%= @office_visit.date.strftime("%d/%m/%Y") %> 
    <%= @office_visit.hour %>
  </p>
</section>

<%= link_to 'Voltar', :back, class: 'btn btn-warning mb-4' %>  