<h3>Listagem de Pacientes</h3>

<section class="row">
	<section class="col-md-7">
		Bem vindo(a) <b><%= current_user.name %></b> <br />
	  	Data de expiração do sistema: <%= current_user.payment_expiration.strftime("%d / %m / %Y") %> <br />
	  	Efetue o pagamento do sistema entre <b style="color: green;"><%= (current_user.payment_expiration - 1.week).strftime("%d / %m / %Y") %> e <%= current_user.payment_expiration.strftime("%d / %m / %Y") %></b>
	</section>

	<section class="col-md-5 perfil_image">
		<%= image_tag(current_user.avatar.medium) if current_user.avatar.present? %>
	</section>
</section>
<br /><br />

<p>Abaixo encontra-se a lista de pacientes a serem atendidos hoje!</p>

<hr />

<span>Plano atual: <b><%= current_user.plan %></b></span>