<p id="notice"><%= notice %></p>

<h1>Spents</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spents.each do |spent| %>
      <tr>
        <td><%= spent.value %></td>
        <td><%= spent.description %></td>
        <td><%= link_to 'Show', spent %></td>
        <td><%= link_to 'Edit', edit_spent_path(spent) %></td>
        <td><%= link_to 'Destroy', spent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spent', new_spent_path %>
