<p id="notice"><%= notice %></p>

<h3>Listagem de Pacientes cadastrados</h3>

<%= search_form_for @q do |f| %>
  <section class="form-group row">
    <%= f.collection_select(:name_eq, Patient.order(name: :ASC), :name, :name, {include_blank: 'Busque por um paciente específico!'}, {class: 'form-control col-11'}) %>
    <%= f.submit 'Pesquisar', class: 'col-1 btn btn-info' %>
  </section>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.document %></td>
        <td><%= patient.telephone %></td>
        <td><%= link_to 'Visualizar Consultas', office_visits_path, class: 'btn btn-success' %></td>
        <td><%= link_to 'Exibir', patient, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_patient_path(patient), class: 'btn btn-dark' %></td>
        <td><%= link_to 'Apagar', patient, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
