<h3>Exibir paciente</h3>

<section class="show text-center">
	<p>
	  <strong>Nome:</strong>
	  <%= @patient.name %>
	</p>

	<p>
	  <strong>CPF:</strong>
	  <%= @patient.document %>
	</p>

	<p>
	  <strong>Endereço:</strong>
	  <%= @patient.address %>
	</p>

	<p>
	  <strong>Telefone:</strong>
	  <%= @patient.telephone %>
	</p>
</section>

<%= link_to 'Voltar', patients_path, class: 'btn btn-warning mb-4 mt-3' %>
